#map {
    height: 100%;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }

 .bg-eee{
 	background: #eee;
 }

 .bg-fff{
 	background: #fff;
 }

.input-group-btn .btn {
    background-color: #1abc9c;
    border: 1px solid #ddd;
    color: #ddd;
    line-height: 18px;
    height: 35px;
}

#sidebar{
	overflow-y: scroll;
}